<header
  [@header-trigger]="headerVisibilityState"
  class="fixed top-0 z-20 w-full h-24 px-8 sm:px-12 py-4 bg-white shadow-lg"
  *ngIf="headerVisibilityState === 'visible'"
>
  <section class="max-w-5xl h-full m-auto flex justify-between items-center">
    <article>
      <h1 class="text-xl sm:text-3xl font-bold">{{ content.title }}</h1>
      <h2 class="text-xs sm:text-lg">{{ content.subtitle }}</h2>
    </article>
    <app-main-menu></app-main-menu>
  </section>
</header>
<aside class="hero-image bg-fixed w-full h-96 shadow-inner">
</aside>
