<header
  class="fixed top-0 z-20 w-full h-16 sm:h-24 px-8 sm:px-12 py-4 bg-white shadow-lg border-b-2 border-gray-200">
<!--  [@header-trigger]="headerVisibilityState"-->
<!--  *ngIf="headerVisibilityState === 'visible'"-->

  <section class="max-w-5xl h-full m-auto flex justify-between items-center">
    <article [routerLink]="'/'" class="cursor-pointer">
<!--      <h1 class="text-xl sm:text-3xl font-bold">{{ content.title }}</h1>-->
<!--      <h2 class="text-xs sm:text-lg">{{ content.subtitle }}</h2>-->
      <h1 class="text-lg sm:text-3xl font-bold font-display leading-tight">Rafał Nawrot</h1>
      <h2 class="text-xs sm:text-lg font-sans">Pośrednictwo Ubezpieczeniowe</h2>
    </article>
    <app-main-menu class="h-full"></app-main-menu>
  </section>
</header>
