<article class="max-w-5xl mx-0 sm:mx-12 lg:px-12 lg:mx-auto mt-16">
  <h3 class="mx-8 sm:mx-0 text-2xl font-bold mb-8 pb-4 border-b-8 border-blue-900">Lorem ipsum dolor sit amet</h3>
  <div class="lg:grid lg:grid-cols-2 gap-4">
    <app-map></app-map>
    <main>
      <p class="mx-8 sm:mx-0 mt-4 lg:mt-0 mb-8 text-base font-light leading-relaxed">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum condimentum interdum. Fusce id suscipit nulla, et pretium nunc.
        Nam quis egestas eros. Fusce pellentesque quam eget porta tincidunt. Vestibulum sit amet dignissim velit. Praesent lectus ante,
        dictum eget nisl vel.
      </p>
      <h4 class="w-full sm:w-fit-content mx-auto lg:ml-0 my-2 py-2 px-4 sm:px-8 sm:rounded-full bg-red-400 sm:text-lg text-center font-bold text-white">602 281 933</h4>
      <h4 class="w-full sm:w-fit-content mx-auto lg:ml-0 my-2 py-2 px-4 sm:px-8 sm:rounded-full bg-red-400 sm:text-lg text-center font-bold text-white">kontakt@nawrotubezpieczenia.pl</h4>
      <h4 class="w-full sm:w-fit-content mx-auto lg:ml-0 my-2 py-2 px-4 sm:px-8 sm:rounded-full bg-blue-600 sm:text-lg text-center font-bold text-white">Daszyńskiego 23, Mysłakowice</h4>
    </main>
  </div>
</article>
