<article class="w-full h-full max-h-160 relative min-h-96 sm:rounded-xl bg-gray-300">
  <google-map width="100%" height="100%" [center]="center">
    <map-marker #marker="mapMarker" [options]="mapMarkerOptions" (mapClick)="this.infoWindow!.open(this.marker)"></map-marker>
    <map-info-window>
      <h2 style="font-size: 1.2rem;"><strong>Rafał Nawrot</strong></h2>
      <h3>Pośrednictwo Ubezpieczeniowe</h3>
      <br />
      <address>
        ul. Daszyńskiego 27 <br />
        58-533 Mysłakowice
      </address>
      <a style="text-decoration: underline; color: #427fed" href="https://goo.gl/maps/m8J71v8h5fxRWrSf6">Zobacz w Mapach Google</a>
    </map-info-window>
  </google-map>
</article>
