<article class="my-4 cursor-pointer" (click)="onToggleQuestion()">
  <header class="flex justify-between items-center py-2 px-8 sm:px-4 bg-blue-500 hover:bg-blue-600 transition-colors sm:rounded-xl text-lg text-white">
    <h3 class="">{{ question?.question }}</h3>
    <fa-icon [@arrow-toggle]="arrowState" class="transform active:rotate-180 ml-4" [icon]="dropdownIcon" role="button"></fa-icon>
  </header>
  <p [@question-appearance]="arrowState" class="w-11/12 mt-4 mb-8 mr-0 ml-auto" *ngIf="arrowState === 'reversed'">
    {{ question?.answer }}
  </p>
</article>
